<%-css('markdownStyle/vue')-%>
<%-css('hljs-theme/github-gist')-%>
<main class="content">
    <div class="widget">
        <button class="dropdown-button">分享</button>
    </div>
    <article class="article"><%-getArticleContent({site,path})%></article>
</main>