<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <%- css('init.css') -%>
    <link rel="stylesheet" href="<%-theme.iconCss%>">
    <script>
        function calcRem() {
            const htmlFontSize = document.documentElement.clientWidth / 1520 * 100
            document.documentElement.style.fontSize = htmlFontSize + 'px'
        }
        calcRem()
        window.addEventListener('resize', calcRem);
    </script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <%-body%>
</body>

</html>