<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <%- css('init.css') -%>
    <link rel="stylesheet" href="<%-theme.iconCss%>">
    <script>
        function calcRem(){
            if(navigator.userAgent.indexOf('Mobile')>-1){

            }else{
                const htmlFontSize=Math.max(document.documentElement.clientWidth,800)/1520*100
                document.documentElement.style.fontSize=Math.min(htmlFontSize,80)+'px'
            }
        }
        calcRem()
        window.addEventListener('resize', calcRem);
    </script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<div class="app">
    <ul class="tool-set">
        <li class="widget"><i class="iconfont icon-bx-search-alt" title="搜索"></i></li> 
     </ul>
    <%-body%>
</body>

</html>